#========================
# Flutter / Dart
#========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

#========================
# Environment variables
#========================
.env
.env.*
!.env.example

#========================
# Logs
#========================
*.log
*.tmp
*.lock

#========================
# Miscellaneous
#========================
*.class
*.pyc
*.swp
.DS_Store
.history
.atom/
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

#========================
# IntelliJ / Android Studio
#========================
.idea/
*.iml
*.ipr
*.iws

#========================
# VS Code
#========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

#========================
# Android
#========================
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/captures/

# Keystores (NO subir)
*.jks
*.keystore
key.properties

#========================
# iOS
#========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/DerivedData/

#========================
# macOS
#========================
macos/Pods/
macos/Flutter/ephemeral/

#========================
# Linux
#========================
linux/flutter/ephemeral/

#========================
# Windows
#========================
windows/flutter/ephemeral/

#========================
# Web
#========================
web/.dart_tool/

#========================
# Firebase
#========================
firebase-debug.log
firebase-debug.*.log

# Firebase CLI
.firebaserc.local

#========================
# Crashlytics / Symbols
#========================
app.*.symbols
app.*.map.json

#========================
# Fastlane
#========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
